@page
@model Presentation.Pages.RegisterModel

<div>
  <partial name="_ValidationSummary" />
  <form 
      method="POST"
      asp-page="Register"
      asp-page-handler="SubmitRegistration">
    <p>Sign Up</p>
    <input type="email" name="Username" placeholder="Email" value="@Model.Registrant.Username" /><br/>
    <input type="password" name="Password" placeholder="Password" value="@Model.Registrant.Password"/><br/>
    <input type="submit" value="Ok">
  </form>
</div>