@page
@model Presentation.Pages.RegisterModel
@{
  ViewData["Title"] = "Register";
}

<section class="container">
  <partial name="_ValidationSummary" />
  <div class="columns is-multiline">
    <div class="column is-8 is-offset-2 register">
      <div class="columns">
        <div class="column left">
          <h1 class="title is-1">Create Account</h1>
          <h2 class="subtitle colored is-4">Build apps. Count stuff.</h2>
          <p>Sign up to personalize your home page, edit your profile settings, create counters, and gain access to the developer portal.</p>
        </div>
        <div class="column right has-text-centered">
          <h1 id="sign-up" class="title is-4">Join Us</h1>
          <p class="description">Get started today.</p>
          <form 
            method="POST"
            asp-page="Register"
            asp-page-handler="SubmitRegistration">
            <div class="field">
              <div class="control">
                <input class="input is-medium" name="Username" type="email" placeholder="Email">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium" name="Password" type="password" placeholder="Password">
              </div>
            </div>
            <input type="submit" class="button is-block is-primary is-fullwidth is-medium" value="Sign Up">
            <br />
            <small><em>Already have an account? <a href="~/">Sign In</a></em></small>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
