@page
@model CounterCulture.Pages.RegisterModel

<form 
    method="POST"
    asp-page="Register"
    asp-page-handler="SubmitRegistration">
  <p>Sign Up</p>
  <input type="email" name="Email" placeholder="Email" value="@Model.AppUser.Email" /><br/>
  <input type="text" name="UserName" placeholder="UserName" value="@Model.AppUser.UserName" /><br/>
  <input type="password" name="Password" placeholder="Password" value="@Model.AppUser.Password"/><br/>
  <input type="submit" value="Ok">
</form>