@page
@model CounterCulture.Pages.IndexModel

<form 
    method="post"
    asp-page="Index"
    asp-page-handler="Login">
    <input type="email" name="Email" placeholder="Email">
    <br/>
    <input type="password" name="Password" placeholder="Password">
    <br/>
    <input type="submit" value="Login">
</form>