@model LoginViewModel
@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
    var isLoggedIn = !string.IsNullOrWhiteSpace(name);
    if(isLoggedIn){
      Layout = "_Dashboard";
    }
}

<section class="container">
  @if(isLoggedIn){
    <div class="container">
        <h1 class="title">
            Hello, @name
        </h1>
        <h2 class="subtitle">
            I hope you are having a great day!
        </h2>
    </div>
  } else if (Model.EnableLocalLogin) {
    <div class="columns is-centered is-multiline">
      <div class="column is-half register">
        <div class="columns">
          <div class="column right has-text-centered">
            <h1 class="title is-4">Sign In</h1>
            @if(@ViewContext.ModelState.IsValid){
              <p class="description">Oh, hey! Welcome back.</p>
            } else {
              <partial name="_ValidationSummary" />
            }
            <form asp-route="Index">
              <input type="hidden" asp-for="ReturnUrl" />
              <div class="field">
                <div class="control">
                  <input asp-for="Username" autofocus class="input is-medium" name="Username" type="email" placeholder="Email">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input asp-for="Password" class="input is-medium" name="Password" type="password" placeholder="Password">
                </div>
              </div>
              @if (Model.AllowRememberLogin)
              {
                <label asp-for="RememberLogin" class="checkbox pb-4">
                  <input asp-for="RememberLogin" type="checkbox">
                  <strong>Remember My Login</strong>
                </label>
              }
              <button class="button is-block is-primary is-fullwidth is-medium" name="button" value="login">Submit</button>
              <br />
              <small><em>Don't have an account? <a href="~/Account/Register#sign-up">Create a new one</a></em></small>
            </form>
          </div>
        </div>
      </div>
    </div>
  }
</section>

