@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png?ver=dca58cb6" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png?ver=dca58cb6" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png?ver=dca58cb6" />
    <link rel="stylesheet" type="text/css" href="~/css/reset.css?ver=dca58cb6" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css?ver=dca58cb6" />
    <meta charset="utf-8" />
    <title>Home | Counter-Culture</title>
</head>
<body>
  <div class="container">
    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item" href="../"><img src="~/logo.png" alt="Logo" /></a><span class="navbar-burger burger" data-target="navbarMenu"><span></span><span></span><span></span></span>
              </div>
              <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                  <div class="tabs is-right">
                    <ul>
                      <li><a href="https://counter-culture.io">Home</a></li>
                      <li><a href="https://docs.counter-culture.io/api/overview">API</a></li>
                      <li><a href="https://app.counter-culture.io">Explore</a></li>
                      @if(!string.IsNullOrWhiteSpace(name)){
                        <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                      }
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="hero-body">
          @RenderBody()
        </div>
    </section>
  </div>
  <script src="~/js/bulma.js"></script>
</body>
</html>
